/// Baseline for all margins and gaps on the site
/// @group configuration
/// @access public
/// @type Number
$baseline: 1.5em

$base-color: red

$base-width: 1200px

/// @base share-buttons
/// ---
/// Container Element for the Sharing Buttons
.share-buttons
	list-style: none
	padding-left: 0
